.confirm-content {
  min-height: 100vh;
  max-width: 1540px;
}

.confirm-content__inner {
  margin: 40px auto;
  width: 70%;
  text-align: center;
  background: #fff;
  padding: 20px;
}

.confirm-header {
  margin-top: 10px;
  margin-bottom: 50px;
}

.confirm-date {
  border: 1px solid #8E969D;
  border-radius: 4px;
  width: 16%;
  text-align: center;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.confirm-group {
  margin-top: 40px;
}

.confirm-table {
  width: 100%;
  border: 1px solid #8E969D;
  border-collapse: collapse;
}

.confirm-table__header {
  background: blue;
  color: #fff;
  text-align: center;
  line-height: 28px;
}

.confirm-table__data {
  text-align: center;
}

@media (max-width: 768px) {
  .confirm-date {
    margin-right: 2px;
    width: 32%;
  }
}
